.ajax-file-upload-statusbar {
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 0px;
}
.ajax-file-upload-filename {
    width: 100%;
    height: auto;
    margin: 0;
    color: #807579;
    padding: 2px;
}
.ajax-file-upload-progress {
    margin: 0 10px 5px 2px;
    position: relative;
    width: 250px;
    border: 1px solid #ddd;
    padding: 1px;
    display: inline-block;
}
.ajax-file-upload-bar {
    background-color: #6badf6;
    width: 0;
    height: 20px;
    color: #FFFFFF;
}
.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}
.ajax-file-upload-red {
    background-color: #e4685d;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin-right: 5px;
}
.ajax-file-upload-green {
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #5b8a3c;
    vertical-align: top;
    margin-right:5px;
}
.ajax-file-upload {
    padding: 4px 12px;
    text-align: center ;
    vertical-align: middle  !important;
    background-color: #d9d9d9 ;
    border: 1px transparent solid ;
    color: #222220 ;
    border-radius: 0 ;
    position: relative ;
    display: inline-block ;
    outline: none ;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif ;
    font-size: 14px ;
    line-height: 16px ;
}
  


.ajax-upload-dragdrop
{

	border:2px dotted #A5A5C7;
	width:420px;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}



